/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
/* #212121 
   #757575   */
:root {
  --font-style: "Roboto", sans-serif;
  --second-font-weight: 700;
  --font-weight: 400;
  --main-color: #757575;
  --second-color: #212121;
  --color-blue:#2196f3;
  --color-white:#ffffff;
  

}
body {
  font-family: var(--font-style);
  font-weight: var(--font-weight);
  color: var(--main-color);
}
ul {
  list-style-type: none;
}
.title {
  background: #2f303a;
  text-align: center;
}
.caption {
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
}
.all-txt {
  font-family: var(--font-style);
  font-weight: var(--font-weight);
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;

  color: var(--main-color);
}
.item {
  font-family: var(--font-style);
  text-transform:uppercase;
  font-weight: var(--second-font-weight);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;

  color: var(--second-color);
}
.desc {
  font-family: var(--font-style);
  font-weight: var(--second-font-weight);
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-color);
}
.ul-fon {
  background: #f5f4fa;
}

.name {
  font-family: var(--font-style);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-color);
}
.jobs {
  text-align: center;
}
.btn {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height:1.6;
  text-align: center;

  letter-spacing: 0.06em;
  background:var(--color-blue);
  color: var(--color-white);
}
.btn:hover { background:#1c84d8;

}
.btn:focus{ background:#1c84d8;}
.services-txt:hover {
  background: var(--color-blue);

  color: var(--color-white);
}
.services-txt:focus {
  color: var(--color-white);
  background: var(--color-blue);
}
.services-txt {
  font-family: var(--font-style);
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background: #f5f4fa;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
}
.services-txt.current {
  background-color: var(--color-blue);
  color: var(--color-white);
}
.services-txt {
  cursor: pointer;
}
.info {
  font-family: Roboto;
  font-style: 400;
  font-weight: var(--second-font-weight);
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--second-color);
}

.txt-sentence {
  font-family: var(--font-style);

  font-weight: var(--font-weight);
  font-size: 16px;
  line-height: 1.9;

  letter-spacing: 0.03em;

 color: var(--main-color);
}
a{ text-decoration:none;}
.link {
  font-family: var(--font-style);
  text-decoration:none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  color: var(--second-color);
}
.link:focus {
  color: red;
}
.link:hover {
  color: var(--color-blue);
}
link:active {
  background-color: #2196f3;
}
.link.current {
  color:var(--color-blue);
}
.contact-info {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color:var(--main-color);
  
}
.contact-info:active {
  color: var(--color-blue);
}
.contact-info:hover {
  color: var(--color-blue);
}


.location {
  font-family: var(--font-style);

  font-weight: var(--font-weight);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--color-white);
}
.background {
  position: absolute;
  width: 1600px;
  height: 252px;

  background: #2f303a;
}
.website {
  font-family: Raleway;

  font-weight: 700;
  font-size: 26px;
  line-height:1.2;

  letter-spacing: 0.03em;

  color: var(--color-blue);
}
.web {
  font-family: Raleway;
  text-decoration:none;
  font-weight: 700;
  font-size: 26px;
  line-height: 0.8;

  letter-spacing: 0.03em;

  color:var(--color-white);
}
.web1 {
  font-family: Raleway;
  text-decoration:none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  letter-spacing: 0.03em;

  color: #000000;
}
.contact-down-info {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  
color: rgba(255, 255, 255, 0.6);
  
}
.contact-info:active {
  color: var(--color-blue);
}
.contact-info:hover {
  color: var(--color-blue);
}